<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3>HOME PAGE</h3>
    <nav class="main_nav">
        <ul class="d-flex flex-row align-items-start justify-content-start">
            <li><a href="pro/register">Sign Up</a></li>
            <li><a href="pro/login">Login</a></li>
            <li><a href="pro/userlist">Users</a></li>

            {#API:- API to display all Users List Without Login#}
            <li><a href="api/users/">All Users Data Without Login Using API</a></li>
            <li><a href="api/loginapi/">Login User API</a></li>
        </ul>
    </nav>
</body>
</html>