<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
{#    {% if user.is_authenticate%}#}
{#        <h2>{{ Username }}</h2>#}
{#        <li><a href="login/api/products">Products List API</a></li>#}
{#        <p><a href="{% url 'login' %}">login</a></p>#}
{#    {% else %}#}
{#        <p>You are not logged in</p>#}
{#      <a href="{% url 'login' %}">login</a>#}
{#    {% endif %}#}

    <h2>Profile Page</h2>
    <li>User Is Logged IN</li>
    <li>Data is :- {{ Serialized }}</li>
    <li><a href="{% url 'login' %}">Logout</a></li>

</body>
</html>